extends layout

block head
    style.
        .photo {
            margin-left: auto;
            margin-right: auto;
            -webkit-transform:rotate(7deg);
        }

block content

    div(style="text-align:center")
        div.photo
          img(src=url)
          p.tag Nathan &amp; Mia: October 5th, 2013